.link{
    font-size: 30px;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-main{
    font-size: 19px;
}
.about-desc{
    color: rgba(0,0,0,0.4);
    font-size: 14px;
    word-spacing: 3px;
}
.photo img{
    width: 300px;
    height: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.readmore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: rgba(0,0,0,0.9);
}
.readmore-link{
    font-size: 50px;
    animation: animate 3s linear infinite;
}
@keyframes animate{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
  } 

@media only screen and (max-width: 640px) {
    .container{
        margin-top: 40px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    .photo img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }
    .readmore{
        margin-top: 10px;
    }
}
